:root {
  --purple: #845ec2;
  --dark: #4b4453;
  --light: #e9dbf8;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

/* -----------------------SCROLLBAR---------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}

/* ------------HEADER------------------------------ */

.header {
  text-align: center;
  padding: 2%;
  background-color: var(--purple);
  color: var(--light);
}

.header > h1 {
  font-size: 3rem;
}

/* ----------------------MIDDLE SECTION----------------------- */

.flex-container {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.grid-container {
  border: 2px solid var(--light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  border: 2px solid;
  padding: 0.7em;
  cursor: pointer;
  transition: 0.3s;
  min-width: 55px;
  min-height: 55px;
  text-align: center;
  font-size: 3rem;
}

.grid-item:hover {
  background-color: var(--light);
  color: var(--dark);
  border: 2px solid var(--dark);
}

/* ---------------------------TURN TEXT-------------------------------- */

.turn-text-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.turn-text-container > p {
  font-size: 2rem;
}

/* --------------------------------FOOTER--------------------------------------- */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  padding: 2%;
}

.footer-container > p {
  font-size: 1.3rem;
}

.footer-container > p > a {
  color: var(--light);
  text-decoration: none;
  cursor: pointer;
}

/* ----------------------PLAYER-MODAL---------------------------------- */

.opening-modal,
.restart-modal {
  z-index: 10;
  background-color: var(--light);
  color: var(--dark);
  border: 2px solid var(--purple);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 1px 5px var(--purple);
  padding: 2em;
}

.player-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.player-modal > .modal-item > input {
  border: none;
  margin-bottom: 1em;
  height: 2em;
  color: var(--dark);
  font-size: 1rem;
}

.player-modal > .modal-item > label {
  font-size: 1.5rem;
}

.submit-btn,
.restart-btn {
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--light);
  border: 2px solid var(--purple);
  cursor: pointer;
  color: var(--dark);
  transition: 0.3s;
}

.submit-btn:hover,
.restart-btn:hover {
  background-color: var(--purple);
  color: var(--light);
}

.overlay,
.restart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ----------------------------RESTART MODAL ----------------------------------- */

.restart-modal {
  padding: 3em;
}

.restart-overlay {
  display: none;
}

.restart-modal > .modal-item > p {
  font-size: 1.5rem;
  color: var(--dark);
  margin: 0.8em;
}

.winner-text {
  font-size: 2rem;
}
